AI_BAILIAN_API_KEY=
AI_BAILIAN_BASE_URL=https://dashscope.aliyuncs.com

AI_COPY_PROVIDER=aliyun-bailian
AI_IMAGE_PROVIDER=aliyun-bailian
AI_BACKGROUND_PROVIDER=aliyun-bailian
AI_IMAGE_EDIT_PROVIDER=aliyun-bailian
AI_CUTOUT_PROVIDER=rembg,aliyun-human-cutout,mock

AI_COPY_MODEL=qwen3.5-plus
AI_IMAGE_MODEL=qwen-image-2.0-pro
AI_BACKGROUND_MODEL=wanx-background-generation-v2
AI_IMAGE_EDIT_MODEL=qwen-image-edit-plus
AI_CUTOUT_MODEL=image-instance-segmentation
AI_CUTOUT_REMBG_MODEL=u2net
AI_CUTOUT_PYTHON=python

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=poster_design
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_TIMEZONE=+08:00

APP_BASE_URL=http://127.0.0.1:5173
FRONTEND_PUBLIC_BASE_URL=http://127.0.0.1:5173
CALLBACK_ROUTE=/oauth/callback
POST_LOGIN_REDIRECT=/account
TOKEN_STORAGE_MODE=localStorage
SESSION_EXPIRE_DAYS=7
ADMIN_AUTH_TOKEN=

OAUTH_PROVIDER_NAME=generic-oauth2
OAUTH_BASE_URL=
OAUTH_AUTHORIZE_PATH=
OAUTH_TOKEN_PATH=
OAUTH_USERINFO_PATH=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URI=
OAUTH_SCOPE=
OAUTH_LOGOUT_URL=
